# Relatório de análise 1

## Importando a base de dados

In [0]:
# importando
import pandas as pd

In [3]:
pd.read_csv('aluguel.csv', sep=";")

                          Tipo           Bairro  ...  Condominio    IPTU
0                    Quitinete       Copacabana  ...       500.0    60.0
1                         Casa  Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento           Centro  ...       390.0    20.0
4                  Apartamento     Higienópolis  ...       230.0     NaN
...                        ...              ...  ...         ...     ...
21108              Apartamento          Ipanema  ...      3600.0  1500.0
21109              Apartamento           Tijuca  ...       495.0    20.0
21110              Apartamento       Copacabana  ...      1347.0   329.0
21111              Apartamento          Ipanema  ...      1209.0   240.0
21112                     Casa            Vicen  ...         NaN     NaN

[21113 rows x 9 columns]

In [4]:
dados = pd.read_csv('aluguel.csv', sep=';')
dados

                          Tipo           Bairro  ...  Condominio    IPTU
0                    Quitinete       Copacabana  ...       500.0    60.0
1                         Casa  Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento           Centro  ...       390.0    20.0
4                  Apartamento     Higienópolis  ...       230.0     NaN
...                        ...              ...  ...         ...     ...
21108              Apartamento          Ipanema  ...      3600.0  1500.0
21109              Apartamento           Tijuca  ...       495.0    20.0
21110              Apartamento       Copacabana  ...      1347.0   329.0
21111              Apartamento          Ipanema  ...      1209.0   240.0
21112                     Casa            Vicen  ...         NaN     NaN

[21113 rows x 9 columns]

In [5]:
type(dados)

pandas.core.frame.DataFrame

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21113 entries, 0 to 21112
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21113 non-null  object
 1   Bairro      21113 non-null  object
 2   Quartos     21112 non-null  float64
 3   Vagas       21112 non-null  float64
 4   Suites      21112 non-null  float64
 5   Area        21112 non-null  float64
 6   Valor       21099 non-null  float64
 7   Condominio  18530 non-null  float64
 8   IPTU        14611 non-null  float64
dtypes: float64(7), object(2)
memory usage: 1.4+ MB

In [7]:
dados.head()

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

## Informações gerais sobre a base de dados

In [8]:
dados.dtypes

Tipo           object
Bairro         object
Quartos       float64
Vagas         float64
Suites        float64
Area          float64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [0]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipo'])

In [12]:
tipos_de_dados

               Tipo
Tipo         object
Bairro       object
Quartos     float64
Vagas       float64
Suites      float64
Area        float64
Valor       float64
Condominio  float64
IPTU        float64

In [0]:
tipos_de_dados.columns.name = 'Variáveis'

In [14]:
tipos_de_dados

Variáveis      Tipo
Tipo         object
Bairro       object
Quartos     float64
Vagas       float64
Suites      float64
Area        float64
Valor       float64
Condominio  float64
IPTU        float64

In [15]:
dados.shape

(21113, 9)

In [16]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis.'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 21113 registros (imóveis) e 9 variáveis.